<!-- #Home#index
#Find me in app/views/home/index.html.erb -->
<div class="container mt-5">
  <h1>Bienvenidos a mi portafolio</h1>
  	<p>¡Hola queridos cibernautas! Los invito a explorar mi sitio web y descubrir mi trabajo.</p>
  	<p>Si estás interesado en mis proyectos, visita la página de <%= link_to "Proyectos", projects_path %>.</p>
  	<p>Si deseas ponerte en contacto conmigo, puedes ir a la página de <%= link_to "Contacto", contact_path %>.</p>
</div>