<!-- #Projects#index
#Find me in app/views/projects/index.html.erb -->
<div class="container mt-5">
	<div class="row">
	  <div class="col-md-4">
	    <div class="card">
		 <%= image_tag('image1.png', class: 'card-img-top', alt: 'Proyecto 1') %>
	      <div class="card-body">
	        <h5 class="card-title">Proyecto Suricata</h5>
	        <p class="card-text">Suspendisse potenti. Morbi auctor pulvinar congue. Phasellus fermentum purus et condimentum semper. Sed maximus arcu congue quam interdum mollis.</p>
	        <a href="#" class="btn btn-primary custom-button">Ver más</a>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="card">
		 <%= image_tag('image2.png', class: 'card-img-top', alt: 'Proyecto 2') %>
	      <div class="card-body">
	        <h5 class="card-title">Proyecto Olivia Ros</h5>
	        <p class="card-text">Mauris malesuada elit purus, sed ultrices massa porta ac. Aliquam aliquam suscipit urna, non semper libero sollicitudin ut. Curabitur erat mi, vestibulum at.</p>
	        <a href="#" class="btn btn-primary custom-button">Ver más</a>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="card">
		 <%= image_tag('image3.png', class: 'card-img-top', alt: 'Proyecto 3') %>
	      <div class="card-body">
	        <h5 class="card-title">Proyecto Ricomida</h5>
	        <p class="card-text">Fusce quis ultrices mi. Proin convallis neque consectetur turpis varius varius. Nunc gravida tincidunt molestie. Suspendisse lobortis suscipit nibh in.</p>
	        <a href="#" class="btn btn-primary custom-button">Ver más</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>